body{
  background: #fcfdfd;
  font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #2e3231;
}
h2{
  font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    color: #6d7472;
    border-bottom: 1px solid #b35554;
      padding: 80px 16px 8px;
      width: 100%;

}
h3{
  font-family: "Literata", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    color: #6d7472;
    margin-bottom: 48px;
}
@media only screen and (min-width: 1440px) {
h3{
  font-size: 56px;
}
}