.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-wrapper{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}
.home-title {
font-family: "Literata", sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(180deg, #2e3231 0%, #6d7472 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        filter: drop-shadow(2px 4px 0 #f5f5f5);
}
.home-text {
font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #2e3231;
    width: 280px;
}
@media only screen and (min-width: 1440px) {
.home-section{
    background-image: url("/img/home/desk.png");
height: 860px;
}
.home-wrapper{
    margin-top: 90px;
}
.home-title {
font-size: 100px;
}
.home-text {
width: 100%;
}    
}
/* About the Game */
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
.desk{
    display: block;
}
}
/* How to Play */
.how-section{
background: #f1f1f1;
}
.my-swiper .swiper-wrapper{
    padding-top: 2px;
    padding-bottom: 2px;
}
.my-swiper .swiper-slide{
    background: #d9dedc;
    background-image: url("/img/how/one.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 452px;
    border-radius: 12px;

        height: 492px;
}
.my-swiper .h2 {
    background-image: url("/img/how/two.png");
}

.my-swiper .h3 {
    background-image: url("/img/how/three.png");
}

.my-swiper .h4 {
    background-image: url("/img/how/four.png");
}

.my-swiper .h5 {
    background-image: url("/img/how/five.png");
}
.how-slide-wrapper{
    margin-top: 392px;
    border-radius: 0 0 12px 12px;
        padding: 12px;
        width: 100%;
        height: 100px;
box-shadow: 0 1px 1px  rgba(109, 116, 114, 0.3);
    background: rgba(241, 241, 241, 0.7);
    backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
}
.how-slide-title{
font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #2e3231;
    padding-bottom: 10px;
    border-bottom: 1px solid #b35554;
        width: 266px;
}
.how-slide-text{
    font-size: 12px;
    color: #6d7472;
    width: 160px;
}
@media only screen and (min-width: 1440px) {
.my-swiper .swiper-wrapper{
justify-content: center;
gap: 32px;
}
.my-swiper .swiper-slide{
background-size: 100% 312px;    
width: 200px;
    height: 372px;
}
.how-slide-wrapper{
    margin-top: 272px;
}
.how-slide-title{
width: 176px;
}  
}
/* Features */
.features-section h3{
    margin-bottom: 28px;
}
.features-big{
font-family: "Literata", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    color: #6d7472;
    width: 323px;
    margin-left: auto;
    margin-right: auto;
}
.features-list{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.features-item{
    display: flex;
    align-items: center;
    gap: 24px;
    width: 333px;
}
.features-img{
width: 100px;
    height: 100px;
}
.features-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}
.features-item-title{
text-align: left;
    color: #396272;
}
.features-item-text{
    font-size: 12px;
text-align: left;
    color: #6d7472;
}
@media only screen and (min-width: 1440px) {
.features-section h3{
    margin-bottom: 8px;
}
.features-big{
font-size: 32px;
width: 100%;
}
.features-list{
flex-direction: row;
justify-content: center;
}
.features-item{
width: 200px;
    height: 212px;
    flex-direction: column;
}
.features-img{
width: 120px;
    height: 120px;
}
.features-wrapper {
align-items: center;
}
.features-item-title{
text-align: center;
}
.features-item-text{
text-align: center;
width: 170px;
}    
}
/* Locations */
.location-section{
background: #f1f1f1;
}
.location-container{
    padding-left: 0;
    padding-right: 0;
}
.location-list{
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.location-item{
    background-image: url("/img/location/one-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 375px;
        height: 238px;
}
.l2{
background-image: url("/img/location/two-mob.png");
}
.l3 {
    background-image: url("/img/location/three-mob.png");
}
.location-wrapper{
border-radius: 0 0 0 12px;
    padding: 16px;
    width: 160px;
    height: auto;
box-shadow: 0 2px 2px  rgba(197, 209, 206, 0.3);
    background: rgba(46, 50, 49, 0.3);
        backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: auto;
    margin-right: 0;
}
.location-item-title{
    color: #fcfdfd;
    padding-bottom: 12px;
border-bottom: 1px solid #b35554;
    width: 128px;
}
.location-item-text{
    font-size: 12px;
    color: #f1f1f1;
}
.lw2{
border-radius: 0 0 12px 0;
margin-left: 0;
margin-right: auto;
}
@media only screen and (min-width: 1440px) {
.location-container{
    padding-left: 120px;
    padding-right: 120px;
}
.location-item{
    background-image: url("/img/location/one-desk.png");
width: 1200px;
    height: 400px;
}
.l2{
background-image: url("/img/location/two-desk.png");
}
.l3 {
    background-image: url("/img/location/three-desk.png");
}
.location-wrapper{
border-radius: 0 0 12px 12px;
    padding: 32px;
    width: 543px;
    height: 148px;
    margin-left: auto;
    margin-right: auto;
align-items: center;
}
.location-item-title{
font-size: 24px;
width: 479px;
}
.location-item-text{
font-size: 16px;
}  
}
/* Reviews */
.reviews-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.reviews-item{
border: 1px solid #d9dedc;
    border-radius: 8px;
    padding: 24px 32px;
    width: 333px;
    height: 130px;
box-shadow: 0 2px 2px 0 rgba(109, 116, 114, 0.3);
    background: #d9dedc;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.reviews-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.author{
font-size: 12px;
}
.reviews-text{
color: #6d7472;
text-align: left;
}
@media only screen and (min-width: 1440px) {
.reviews-list{
flex-direction: row;
justify-content: center;
}   
}
/* Player Benefits */
.benefits-section{
background: #f1f1f1;
}
.benefits-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.benefits-item{
    display: flex;
    align-items: center;
    gap: 12px;
}
.benefits-item img{
width: 80px;
    height: 80px;
}
.benefits-item p{
color: #396272;
}
@media only screen and (min-width: 1440px) {
.benefits-list{
flex-direction: row;
justify-content: center;
gap: 64px;
}
.benefits-item{
width: 150px;
flex-direction: column;
}
.benefits-item img{
width: 120px;
    height: 120px;
}   
}
/* FAQ */
.faq-acc {
    display: flex;
    flex-direction: column;
    width: 343px;
    margin: 0 auto;
    gap: 12px;

}

.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;

}


.faq-acc-el-title {
    margin-bottom: 0;
}

.faq-acc-el-trigger {
    border: none;
    background: inherit;
    width: 100%;
font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: #6d7472;
    padding: 8px;
border-bottom: 1px solid #d9dedc;
    margin-bottom: 0;
    cursor: pointer;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    transition: transform 0.3s ease;
    border: none;
width: 24px;
height: 24px;
background-color: #396272;
border-radius: 999px;
}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el.open .faq-acc-arr {
    transform: rotate(180deg);
    background-color: #8fa99a;
}

.faq-acc-el-descr-frame {
    background: inherit;
    overflow: hidden;
    max-height: 0;
    text-align: left;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, border-bottom 0.3s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}


.faq-acc-el.open .faq-acc-el-descr-frame {
    visibility: visible;
    opacity: 1;
    border: none;
    background: none;
    text-align: left;
    padding: 8px 24px 8px 8px;
    max-height: 500px;
}


@media only screen and (min-width: 1440px) {
    .faq-acc {
        width: 790px;
        gap: 32px;
    }

    .faq-acc-el {
        width: 790px;
    }

    .faq-acc-el-trigger {
        padding: 12px 8px;
        width: 790px;
    }
    .mob{
        display: none;
    }
}
/* Contact */
.contact-section{
background-color: #f1f1f1;
height: 794px;
background-image: url("/img/contact/mob.png");
background-repeat: no-repeat;
background-position: bottom center;
background-size: 100% 298px;
}
.contact-link{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    font-size: 24px;
}
@media only screen and (min-width: 1440px) {
.contact-section {
        background-color: #f1f1f1;
height: 1048px;
        background-image: url("/img/contact/desk.png");
        background-size: 100% 600px;
    }
}